.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(221, 221, 221);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 2.5rem;
}

.Link {
  color: rgb(0, 184, 230);
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

.Footer_item {
  margin: auto;
}

/* for future use */
.temperature_bar {
  background: rgb(0, 18, 159);
  background: linear-gradient(
    90deg,
    rgba(0, 18, 159, 1) 0%,
    rgba(48, 230, 235, 1) 30%,
    rgba(255, 239, 0, 1) 70%,
    rgba(255, 64, 0, 1) 100%
  );
}
.conditions_bar {
  background: rgb(250, 49, 49);
  background: linear-gradient(
    90deg,
    rgba(250, 49, 49, 1) 0%,
    rgba(241, 134, 36, 1) 25%,
    rgba(232, 212, 24, 1) 50%,
    rgba(129, 223, 25, 1) 75%,
    rgba(9, 119, 13, 1) 100%
  );
}
